<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="center-wrapper">
    <link href="style.css"rel="stylesheet">
	<div class="content">
	<nav>
		<a href="#" class="menu">Menu</a>
		<h1 class="logo">DiveShop</h1>
		<div class="icons">
			<i class="fas fa-search"></i>
			<i class="fas fa-shopping-bag"></i><span style="margin-left: 0.3rem;">1</span>
		</div>
	</nav>
	<div class="top-bar">
		<i class="fas fa-arrow-left"></i>
		<span>Continue shopping</span>
	</div>
	<div class="bag">
		<p class="bag-head"><span style="text-transform: uppercase">Jersey Anda</span> - 1 item</p>
	</div>
	<div class="bag-product">
		<div class="image">
			<img src="img/jersey.png" class="product-image">
		</div>
		<div class="description">
			<p class="product-code small muted">Product code: SS022592000</p>
			<h1>Jersey BIMO JR</h1>
			<p>Sun</p>
			<p class="description-text">Jersey yang berkualitas bintang 5 yang di impor dari portugal</p>
			<p style="margin-bottom: 0.5rem;">One Size</p>
			<h2>$825.00</h2>
			<div class="quantity-wrapper">
				<div>
					<label for="quantity" style="margin-right: 0.5rem;">Quantity:</label>
					<select name="quantity" style="margin-bottom: 1rem;">
						<option value disabled>Please select</option>
						<option value="1" selected>1</option>
						<option value="2">2</option>
						<option value="3">3</option>
                        <option value="3">4</option>
                        <option value="3">5</option>
					</select>
				</div>
				<button class="btn-remove">Remove</button>
			</div>
		</div>
	</div>
	<div class="bag-total">
		<div class="subtotal">
			<p class="small">Subtotal:</p>
			<p class="small">$825.00</p>
		</div>
		<div class="delivery">
			<p class="small">Delivery (Standard - 2 working days):<br>
				<span class="change-delivery">Change delivery method</span></p>
			<p class="small">Free</p>
		</div>
		<div class="total">
			<h3>Total:</h3>
			<h3>$825.00</h3>
		</div>
		<div class="promo-checkbox">
			<input type="checkbox" name="promo-check" checked>
			<label for="promo-check">I have a promo code</label>
		</div>
		<div class="promo-code">
			<input type="text" name="promo-checkbox" placeholder="Enter your promo code here" checked>
			<button class="apply">Apply</button>
		</div>
		<button class="btn-go-checkout">
			<i class="fas fa-lock"></i>
			<span>Go to Checkout</span>
		</button>
	</div>
	<div class="help">
		<p>Need help? Call free 01234 567 890</p>
	</div>
</div>
</div>
<div class="bg"></div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">