@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.header{
    top: 0;
    background: url("../Assets/Svg/Bg-Welcome.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8%;
    /* background-color: pink; */
}

.wrapper-header{
    width: 100%;
}


.title-head{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}
.subtitle-head{
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    text-align: justify;
}
.subtitle-head-category{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    text-align: justify;
}

.btn-head{
    font-family: "Poppins", sans-serif;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 150px;
    height: 33px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 27px;
    color: black;
    transition: all 0.2s ease-in-out;
    background: #FFFFFF;
}

.btn-head:hover{
    margin-top: 90px;
    box-shadow: 0 0 10px gray;
}

.icons-btn-head{
    margin-left: 5px;
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 800px) {


    .wrapper-header-top{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .btn-head{
        font-family: "Poppins", sans-serif;
        margin-top: 100px;
        margin-bottom: 20px;
        width: 195px;
        height: 43px;
        border: none;
        border-radius: 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }
    

    .title-head{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        margin-top: 30px;
    }
    .subtitle-head{
        margin-top: 30px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: justify;
    }
    .subtitle-head-categroy{
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: justify;
    }

    .wrapper-header{
        width: 45%;
        margin-right: 10%;
    }
    
    .anim-ecommerce{
        height: 300px;
    }
    
    .wrapper-anim{
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
}

/* Category */
.category-box{
    width: 100%;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 8%;
}

.wrapper-category{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 100px;
}
.grid-item-ft{
    width: 310px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 130px;
}

.icons-ft{
    margin-right: 20px;
}

.title-category{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
}

.txt-title-ft{
    font-weight: 700;
    font-size: 15px;
}
.txt-subtile-ft{
    font-size: 12px;
}

@media screen and (min-width: 800px) {
    .grid-item{
        height: 150px;
        width: 150px;
    }


}

/* POPULAR */
.boxpopular{
    background: url("../Assets/Svg/secondhomescreen-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    padding-bottom: 8%;
    align-items: center;
}

.gridview-popular{
    width: 80%;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
}





